#body {
    font: Arial, Helvetica, sans-serif;
}

#container {
    width: 1050px;
    margin: 0px auto;

}

#brand {
    float: left;
}

h1 a {
    font-size: 50px;
    font-weight: 100;
    color: #861BBF;
    text-decoration: none;
}

#header {
    height: 100px;
    padding: 10px 0px;
}


#searchBox {
    float: right;
    background: linear-gradient(#E4D2B9, #B7E953);
    background: -moz-linear-gradient(#E4D2B9, #B7E953);
    background: -webkit-linear-gradient(#E4D2B9, #B7E953);
    background: -o-linear-gradient(#E4D2B9, #B7E953);
    background: -ms-linear-gradient(#E4D2B9, #B7E953);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text {
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: #E36A0C;
    border: 1px solid#C8D83E;
}

.submit {
    float: right;
    padding: 5px;
    color: white;
    background: #A751D5;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #A751D5;
}

.clear {
    clear: both;
}

ul {
    list-style: none;
}


#menu {
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
    background: -moz-linear-gradient(#F8F594, #D5D533);
    background: -o-linear-gradient(#F8F594, #D5D533);
    background: -webkit-linear-gradient(#F8F594, #D5D533);
    background: -ms-linear-gradient(#F8F594, #D5D533);
    padding: 7px 0px;
}

#menu ul li {
    float: left;
    padding: 0px 30px;
    height: 30px;
    border-right: 1px solid #5D12E7;
}

#menu ul li:last-child {
    border-right: none;
}


#menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: #5D12E7;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
}

#menu ul li a:hover,
#menu ul li .active {
    font-size: 20px;
    font-weight: bold;
    color: #C34FBD;
}

#introduction {
    background: linear-gradient(#E5F2BB, #B7E952);
    background: -o-linear-gradient(#E5F2BB, #B7E952);
    background: -moz-linear-gradient(#E5F2BB, #B7E952);
    background: -ms-linear-gradient(#E5F2BB, #B7E952);
    background: -webkit-linear-gradient(#E5F2BB, #B7E952);
    padding: 30px;
    margin: 16px 0px;
}

#introduction h3 {
    font-size: 45px;
    font-weight: normal;
    color: #316901;
}

#introduction p {
    font-size: 25px;
    color: #628F19;
}

.sidebar {
    height: 500px;
    width: 450px;
    border: 1px solid #BA4F6F;
    border-radius: 20px;
    padding: 10px 30px;
}

.sidebar h3 {
    color: #B314DB;
    font-size: 30px;
}

.sidebar ul li a {
    text-decoration: none;
    font-size: 20px;
    color: #5D12E7;
}

.sidebar ul {
    padding-top: 8px;
}

.sidebar ul li a:hover,
.sidebar ul li a:active {
    text-decoration: none;
    color: #C34FBD;
    font-size: 23px;
    font-weight: bold;
    transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
}

#leftsidebar {
    float: left;
}


#leftsidebar ul li {
    padding-bottom: 8px;
    list-style-image: url(./images/arrow.png);
    padding-left: 5px;

}

#rightsidebar {
    float: right;
}

#rightsidebar ul li {
    padding-bottom: 20px;
    list-style-image: url(./images/tick.png);
    padding-left: 5px;
}

.footer {
    height: 60px;
    background: linear-gradient(#F6F398, #D5D533);
    background: -o-linear-gradient(#F6F398, #D5D533);
    background: -moz-linear-gradient(#F6F398, #D5D533);
    background: -ms-linear-gradient(#F6F398, #D5D533);
    background: -webkit-linear-gradient(#F6F398, #D5D533);
    padding: 10px 20px;
    margin-top: 15px;
}